body {
  background-color: rgb(251, 224, 228);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  text-align: center;
  margin: 50px;
}
h1 {
  font-size: 32px;
  color: #be8abf;
}
h2 {
  font-size: 24px;
  color: #ea9abb;
}
footer {
  text-align: center;
  margin: 10px auto;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-size: 12px;
}
a {
  color: #ea9abb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#generator-container {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2d9cf;
  max-width: 600px;
  box-shadow: 0px 5px 10px rgba(215, 125, 155, 0.4);
}
#textInputElement {
  width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: rgba(124, 122, 122, 0.4);
  background-color: whitesmoke;
  font-size: 14px;
  color: #ea9abb;
}
#submitButton {
  width: 20%;
  margin: 0 0 0 20px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border-color: rgba(124, 122, 122, 0.4);
  color: #ea9abb;
  background-color: whitesmoke;
}
#positive-statement {
  display: block;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #f2d9cf;
  max-width: 600px;
  border-left: 4px solid #ea9abb;
  box-shadow: 0px 5px 10px rgba(215, 125, 155, 0.4);
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 1.5;
}
#positive-statement strong {
  color: #ea9abb;
}
